<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<footer>
    <div class="container-fluid footer-padding">
        <br>
        <div class="">
            <div class="col-xs-12">
                <div class="main-footer-logo col-xs-2 hidden-xm hidden-xs hidden-ss hidden-sm">
                    <a>
                        <img src="../../assets/images/logo.png" alt="Fastbanana.pl - super fajne, bezpieczne zakupy" width="200" height="80">
                    </a>
                </div>
                <p class="text-right col-xs-10">
                        <a>
                            <span>O nas</span>
                        </a>
                        <a>
                            <span>Dla sprzedających</span>
                        </a>
                        <a>
                            <span>Regulamin</span>
                        </a>
                        <a>
                            <span>Centrum Pomocy</span>
                        </a>
                </p>
            </div>
        </div>
        <br>
        <div class="text-center">
            <p>Korzystanie z serwisu oznacza akceptację <a><span>regulaminu</span></a></p>
            <p class="footer-bottom-links">
                    <a>
                        <span>Informacja o cookies</span>
                    </a>
            </p>
        </div>
    </div>
</footer>
