<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/shop
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            root
        </property>
        <property name="show_sql">false</property>
        <property name="hibernate.connection.release_mode">after_transaction</property>

        <mapping class="POJO.AccountType"/>
        <mapping class="POJO.Brand"/>
        <mapping class="POJO.Category"/>
        <mapping class="POJO.City"/>
        <mapping class="POJO.Comment"/>
        <mapping class="POJO.CommentId"/>
        <mapping class="POJO.Lock"/>
        <mapping class="POJO.LoggingHistory"/>
        <mapping class="POJO.UserOrder"/>
        <mapping class="POJO.OrderStatus"/>
        <mapping class="POJO.Picture"/>
        <mapping class="POJO.Product"/>
        <mapping class="POJO.ProductOrder"/>
        <mapping class="POJO.ProductOrderId"/>
        <mapping class="POJO.Provider"/>
        <mapping class="POJO.Rate"/>
        <mapping class="POJO.RateId"/>
        <mapping class="POJO.User"/>

        <!-- List of XML mapping files
        <mapping resource="Employee.hbm.xml"/>-->


    </session-factory>

</hibernate-configuration>